*{
    padding: 0;
    margin: auto;
} 

#par::first-letter{
    padding: 0 .3rem;
    margin: 0 .3rem 0 0;
    font-size: 6rem;
    float: left;
}

body {
  margin-top: 4%;
  margin-left: 4%;
  min-height: 100vh;
  max-width: 1000px;
}

.main-title {
  font-weight: lighter;
  font-size: 90px;
  color: #df4239;
}

h3 {
  font-size: 33px;
  font-weight: lighter;
}

.title {
   
  font-size: 2.5em;
  font-weight: lighter;
}

.date {
  font-size: 2em;
  color: #cfcfcf;
  text-shadow: black;
}

#continue {
  color: #df4239;
  float: right;
  font-size: larger;
 
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  margin-top: 4%;
  margin-bottom: 8%;
}

a {
  text-decoration: underline;
  color: #cfcfcf;
}

img {
  width: 73vw;
}

#par {
  color: #829696;
  font-size: x-large;
  width: 73vw;
  initial-letter: 3;
  margin-left: 0;
}

.first-div {
    border-bottom: 2px lightgray solid;
    margin-bottom: 10%;
}

.second-div{
    border-bottom: 2px lightgray solid;
    margin-bottom: 4%;
}

#navbar{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    margin-top: 7%;
}

#a{
    color: #e66b64;
}

footer p {
    color: #bebebe;
    font-size: large;
    margin-bottom: 8%;
}

